{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

{% set textHtml %}
{{ govukInput({
  id: "other-support-type",
  name: "support",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Support person"
  }
}) }}
{% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate>

        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Enter health contact's job title or support role",
              href: "#nationality"
            }
          ]
        }) }}

        <span class="govuk-caption-l">Healthcare and support</span>
        <h1 class="govuk-heading-l">
          Your second health contact
        </h1>

          {% set jobHtml %}
          {{ govukInput({
            id: "job",
            name: "job",
            errorMessage: {
              text: "Enter health contact's job title or support role"
            },
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Enter job title or support role"
            }
          }) }}
          {% endset -%}

          {{ govukRadios({
            name: "contact",
            fieldset: {
              legend: {
                text: "What is their job or their relationship to you?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "GP",
                text: "GP"
              },
              {
                value: "hospital-doctor",
                text: "Hospital doctor"
              },
              {
                value: "specialist-nurse",
                text: "Specialist nurse"
              },
              {
                value: "other",
                text: "Other job or support role",
                checked: true,
                conditional: {
                  html: jobHtml
                }
              }
            ]
          }) }}

        <div class="govuk-body govuk-!-margin-bottom-6"></div>

        {{ govukInput({
          label: {
            text: "What is their full name?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Enter their position or job title if name is not known. For example, 'Duty GP'."
          },
          id: "event-name",
          name: "eventName"
        }) }}

          <div class="govuk-body govuk-!-margin-bottom-6"></div>
      
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {% from "govuk/components/input/macro.njk" import govukInput %}
  
  
        {% set phoneHtml %}
        {{ govukInput({
          id: "phone-number",
          name: "phoneNumber",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter phone number"
          },
          hint: {
            text: "For example, 07700 900 982 or 01632 960 001."
          }
        }) }}
        {% endset -%}
  
          {{ govukRadios({
            name: "contact",
            fieldset: {
              legend: {
                text: "Do you know their phone number?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: phoneHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}


          <div class="govuk-body govuk-!-margin-bottom-6"></div>
          
            {{ govukButton({
              text: "Continue"
            }) }}
    
      </form>
    </div>
  </div>

{% endblock %}