{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          <span class="govuk-caption-l">Healthcare and support</span>
          {% call govukFieldset({
            legend: {
              text: "What is the postcode and name of their work address?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}


          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-!-width-two-thirds",
            id: "postcode",
            name: "postcode",
            value: ""
          }) }}

          {{ govukInput({
            label: {
              text: "Building number or name (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "searchString",
            name: "searchString",
            value: "64 Zoo lane"
          }) }}
          {% endcall %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Find address",
              href: "/v2-ucd-register/healthcare-professional/hcp-cyas/prefilled-routes/second-select-address"
            }) }}
    
            {{ govukButton({
              text: "Change previous answers",
              classes: "govuk-button--secondary",
              href: "/v2-ucd-register/task-list-hcp-in-progress"
            }) }}
          </div>


          <p class="govuk-body"><a href="/v2-ucd-register/healthcare-professional/enter-address-manually" class="govuk-link">Enter address manually</a></p>

          <p class="govuk-body"><a href="/v2-ucd-register/healthcare-professional/additional-support-needed" class="govuk-link">Applicant does not know the address</a></p>
          
        </div>
      </form>
    </div>
  </div>

{% endblock %}
