{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter a UK postcode",
      href: "#"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          {% call govukFieldset({
            legend: {
              text: " What is the postcode and building number of the address we should send letters to?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            errorMessage: {
                text: "Enter a UK postcode"
              },
            classes: "govuk-!-width-two-thirds",
            id: "postcode",
            name: "postcode"
          }) }}

          {{ govukInput({
            label: {
              text: "Building number or name (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "searchString",
            name: "searchString"
          }) }}
          {% endcall %}

          {{ govukButton({
          text: "Find address"
          }) }}

          <p class="govuk-body govuk-!-margin-bottom-3"><a href="/ucd-register/contact-details/enter-address-manually" class="govuk-link">Enter address manually</a></p>

          <p class="govuk-body govuk-!-margin-bottom-6"><a href="/ucd-register/contact-details/correspondence-postcode" class="govuk-link">Applicant does not have a permanent address</a></p>

        </div>
      </form>
    </div>
  </div>

{% endblock %}
