{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

      {{ govukRadios({
        name: "insurance-abroad",
        fieldset: {
          legend: {
            text: "Are you or a family member working or paying insurance in a country in the European Economic Area or Switzerland?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
          hint: {
            html:'
            <p class="govuk-body govuk-hint">By family member we mean:</p>
            <ul class="govuk-hint govuk-list govuk-list--bullet">
              <li>A husband, wife or civil partner, or</li>
              <li>A parent you are dependent on</li>
            </ul>'
          },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      <p><a href="https://www.gov.uk/eu-eea" class="govuk-link" rel="noreferrer noopener" target="_blank">Check which countries are in the EEA (opens in new tab)</a></p>

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

  </div>
</div>


{% endblock %}
