{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css">
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukRadios({
          name: "uk-2021",
          fieldset: {
            legend: {
            text: "Did you start iving in the UK before 1 January 2021?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "The UK is Northern Ireland, England, Scotland and Wales."
          },
          items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "unsure",
            text: "I’m not sure"
          }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}


      </form>

    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">
    element = document.querySelector('#country')
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: element
    })
  </script>
{% endblock %}
