{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Nationality, work and residence
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Nationality"
            },
            value: {
              text: "British"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/nationality/what-is-your-nationality",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Country normally lived in"
            },
            value: {
              text: "England"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/nationality/what-country-do-you-live-in",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Lived anywhere other than UK in last 3 years"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/nationality/lived-elsewhere",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Left UK for more than 4 weeks at once in last 3 years"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/nationality/abroad-over-four-weeks",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Pensions, benefits and work outside the UK
      </h2>

            {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Receiving pensions or benefits from EEA country or Switzerland"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/nationality/exportability/receving-benefits",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Working or paying insurance in EEA country or Switzerland"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/nationality/exportability/working-paying-insurance-abroad",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="#" method="post">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
