{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Nationality, residence and living abroad
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Nationality"
            },
            value: {
              text: "British / [Another nationality] / [EEA]"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/nationality/what-is-your-nationality",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Living in UK before 2021"
            },
            value: {
              text: "Yes / No / Don't know"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/nationality/unhappy-path/nationality-types/living-in-uk-before",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "In UK for at least 2 of last 3 years"
            },
            value: {
              text: "Yes / No / Don't know"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/nationality/uk-2-of-3-years",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
        {
          key: {
            text: "Work or insurance outside UK"
          },
          value: {
            text: "Yes / No"
          },
          actions: {
            items: [
              {
                href: "/pip-register/nationality/insurance-abroad",
                text: "Change",
                visuallyHiddenText: "Question 4"
              }
            ]
          }
        },
        {
          key: {
            text: "Pensions or benefits outside UK"
          },
          value: {
            text: "Yes / No"
          },
          actions: {
            items: [
              {
                href: "/pip-register/nationality/benefits-abroad",
                text: "Change",
                visuallyHiddenText: "Question 5"
              }
            ]
          }
        }
        ]
      }) }}

      <form action="#" method="post">

        {{ govukButton({
          text: "Save and continue",
          href: "/pip-register/healthcare-professional/start"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
