{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate>
      <span class="govuk-caption-xl">Nationality, work and residence</span>
      <h1 class="govuk-heading-xl">
        The next questions are about your nationality and time you've spent in other countries
      </h1>

          <p class="govuk-body">We will ask about your family members, but won't record any personal information about them.</p>


          {{ govukButton({
            text: "Continue"
          }) }}
          </div>

      </form>

    </div>
  </div>

{% endblock %}
