{% extends "layout.html" %}

{% block pageTitle %}
Which activities do your conditions or disabilities affect? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<form class="form" action="/choose-method-dressing-router" method="post">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
              
              
              {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {{ govukRadios({
                idPrefix: "choose-method-dressing",
                name: "choose-method-dressing",
                fieldset: {
                    legend: {
                    text: "How do you want DWP to find out how your health condition affects you dressing and undressing?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "nhs",
                    text: "Ask a health or care professional"
                    },
                    {
                    value: "someone-i-know",
                    text: "Ask someone I know to confirm what I tell you"
                    },
                    {
                    value: "diary",
                    text: "I will fill in a diary"
                    }
                ]
                }) }}
              
              </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>


    </div>
  </div>

</form>


{% endblock %}
