{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-body govuk-!-margin-bottom-9">

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

        <h2 class="govuk-heading-m">
          Hospital and care facilities
        </h2>

              {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "In hospital or hospice today"
              },
              value: {
                text: "Yes, hospital"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/hospital-dates/5-2-today",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "In hospital yesterday"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/hospital-dates/5-4-yesterday",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  }
                ]
              }
            },
            {
              key: {
                text: "Private patient paying all own costs"
              },
              value: {
                text: "No"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/hospital-dates/5-5-private-patient",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            },
            {
              key: {
                text: "Hospital address"
              },
              value: {
                html: "Guy's Hospital,<br>Great Maze Pond,<br>London<br>SE1 9RT"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/hospital-dates/5-6-postcode",
                    text: "Change",
                    visuallyHiddenText: "Question 4"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <form action="#" method="post">
            {{ govukButton({
              text: "Save and continue",
              href: "/pip-register/bank-details/6-1-start"
            }) }}

        </form>

    </div>
  </div>
{% endblock %}
