{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-body govuk-!-margin-bottom-9">

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

        <h2 class="govuk-heading-m">
          Hospital and care facilities
        </h2>

              {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "In hospital or hospice today"
              },
              value: {
                text: "No"
              },
              actions: {
                items: [
                  {
                    href: "/v2-ucd-register/additional-support/do-you-have-a-condition",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  }
                ]
              }
            },
            {
              key: {
                text: "In other accommodation today"
              },
              value: {
                text: "No"
              },
              actions: {
                items: [
                  {
                    href: "/v2-ucd-register/additional-support/complete-forms",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <form action="#" method="post">
            {{ govukButton({
              text: "Save and continue",
              href: "/pip-register/bank-details/6-1-start"
            }) }}

        </form>

    </div>
  </div>
{% endblock %}
