{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          <span class="govuk-caption-xl">Hospital and care facilities</span>
          <h1 class="govuk-heading-xl">Who is paying the costs?</h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "who-paying",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "local",
              text: "Local authority"
            },
            {
              value: "other",
              text: "Health authority"
            },
            {
              value: "other",
              text: "Local education authority"
            },
            {
              value: "other",
              text: "Jobcentre Plus"
            },
            {
              value: "other",
              text: "A charity"
            }
          ]
        }) }}

          {{ govukButton({
          text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
