{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            After you send us the form
          </h1>

            <h2 class="govuk-heading-m">A health assessor will look at all the information you give us</h2>

            <p class="govuk-body">The assessment provider Capita may invite you to an assessment. It is important for you to attend this.  </p>

            {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

            {{ govukWarningText({
              text: "If you don't attend your appointment, we may stop your application.",
              iconFallbackText: "Warning"
            }) }}

    </div>

        <div class="govuk-grid-column-two-thirds">

            <form action="#" method="post" method="post">

            <h2 class="govuk-heading-m">If you have an assessment, you can ask for a recording</h2>

            <p class="govuk-body">Having a recording may be useful if you disagree with any of the information recorded in the assessment report.  </p>

            <p class="govuk-body">To ask for a recording, contact your assessor before the appointment date.</p>

            <p class="govuk-body">After your appointment, you will receive a link to your recording by text message or email.</p>

            <h2 class="govuk-heading-m">Do you understand what happens next and what you need to do now?</h2>

            <p class="govuk-body">Thank you for calling the PIP new applications line.</p>

              {{ govukButton({
                text: "Send application"
              }) }}

            </form>

        </div>
  </div>

{% endblock %}
