{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <<div class="govuk-grid-column-two-thirds">

      <form action="#" method="post">

          <h1 class="govuk-heading-xl">
            We will now send you an email with a link to the online form
          </h1>

          <p class="govuk-body">
            I need to enter some of your details again to <a href="https://www.notifications.service.gov.uk/sign-in" class="govuk-link" rel="noreferrer noopener" target="_blank">send the email invitation (opens in new tab)</a>.
          </p>



          <div class="govuk-inset-text colour-blue govuk-!-font-size-36 govuk-!-font-weight-bold">
  <p class="govuk-body">Action: Copy the applicant's details into the invitation form, then return to this screen.</p>
</div>




            <table class="govuk-table">


  <tbody class="govuk-table__body">


        <tr class="govuk-table__row">



          <th scope="row" class="govuk-table__header"> National Insurance number</th>




          <td class="govuk-table__cell">QQ 12 34 56 A</td>


        </tr>



        <tr class="govuk-table__row">



          <th scope="row" class="govuk-table__header"> First name</th>




          <td class="govuk-table__cell">Sarah</td>


        </tr>



        <tr class="govuk-table__row">



          <th scope="row" class="govuk-table__header">Last name</th>




          <td class="govuk-table__cell">Phillips</td>


        </tr>



        <tr class="govuk-table__row">



          <th scope="row" class="govuk-table__header">Date of birth</th>




          <td class="govuk-table__cell">21 5 1979</td>


        </tr>



        <tr class="govuk-table__row">



          <th scope="row" class="govuk-table__header">Postcode</th>




          <td class="govuk-table__cell">WR1 1NL</td>


        </tr>



        <tr class="govuk-table__row">



          <th scope="row" class="govuk-table__header">Mobile phone number</th>




          <td class="govuk-table__cell">07700 900457</td>


        </tr>


  </tbody>
</table>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="email-sent">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  I have sent you the email now
                </h2>
              </legend>
              <div id="email-sent" class="govuk-hint">
                Select the completed task.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="email-sent" name="email-sent" type="checkbox" value="email-sent">
                  <label class="govuk-label govuk-checkboxes__label" for="email-sent">
                    Sent invitation email
                  </label>
                </div>
              </div>
            </fieldset>
          </div>







<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


      </form>

    </div>
  </div>

{% endblock %}
