{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register a claim for PIP
      </h1>

      <ol class="govuk-prototype-kit-task-list">
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> Contact information
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/contact-details/contact-details-summary" aria-describedby="eligibility-status">
                  Change contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/additional-support/add-support-summary" aria-describedby="read-declaration-status">
                  Change additional support needs
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> Nationality, work and residence
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/nationality/nationality-summary" aria-describedby="eligibility-status">
                  Change nationality, work and residence
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Healthcare and support
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/healthcare-professional/hp-summary-two-remove" aria-describedby="read-declaration-status">
                  Change health and care contacts
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/hospital-dates/hospital-residence-summary" aria-describedby="read-declaration-status">
                 Change hospital and care facilities
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Bank details
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/bank-details/bank-details-summary" aria-describedby="read-declaration-status">
                  Change bank details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>

          <li>
            <h2 class="govuk-prototype-kit-task-list__section">
              <span class="govuk-prototype-kit-task-list__section-number">5. </span> Motability Scheme
            </h2>
            <ul class="govuk-prototype-kit-task-list__items">
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="/ucd-register/motability/motability-summary" aria-describedby="read-declaration-status">
                   Change Motability
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
            </ul>
            </li>

      </ol>

      <h2 class="govuk-heading-m">Application completed</h2>

      <p class="govuk-body">All registration information has completed.<br> Continue to save and submit the application and explain what happens next.</p>

      <form action="/design-updates/what-happens-next/confirm-application" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Save application and continue"
        }) }}

         </form>

    </div>
  </div>

{% endblock %}
