{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

        <h1 class="govuk-heading-l">
          Are any of your family members working or paying national insurance in a country outside the UK?
        </h1>

        <p class="govuk-body">By family member we mean:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>A husband, wife or civil partner, or</li>
              <li>A parent you are dependent on</li>
            </ul>
      
        {{ govukRadios({
          name: "family-insurance-abroad",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
  
        {{ govukButton({
          text: "Continue"
        }) }}

  </form>

  </div>
</div>


{% endblock %}
