{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
        <h3 class="govuk-notification-banner__heading">
         Phone number updated
        </h3>
        <p class="govuk-body">Review your updated answers in <a class="govuk-notification-banner__link" href="#">Contact details</a> before continuing.</p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: "success"
      }) }}

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Contact details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "John Smith"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/what-is-your-name",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Mobile phone number"
            },
            value: {
              html: "<p class='govuk-body'>07345 569383</p>"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/change-what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Other phone number"
            },
            value: {
              html: "<p class='govuk-body'>01622 563219</p>"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/change-what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Textphone number"
            },
            value: {
              text: "18002 876546"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/change-what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Text message updates"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/do-you-want-to-receive-text-updates",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "1 Washington Street,<br>Worcester<br>WR1 1NL"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/select-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Same address for letters"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/correspondence-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Alternative formats
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Alternative formats needed"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/v2-ucd-register/contact-details/alternative-formats",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="#" method="post">

        {{ govukButton({
          text: "Resume questions",
          href: "/v2-ucd-register/additional-support/start-info"
        }) }}

        <p class="govuk-body">
          <a href="/v2-ucd-register/task-list-cd-done" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </p>

      </form>

    </div>
  </div>
{% endblock %}
