{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Contact information</span>
      <h1 class="govuk-heading-l">
        Do you have a mobile phone number we can use to contact you?
      </h1>

      <form class="form" action="#" method="post">
        {{ govukInput({
          label: {
            text: "Mobile phone number"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}
        
        {{ govukInput({
          label: {
            text: "Other phone number (optional)"
          },
          hint: {
            text: "For landlines, include a dialling code like 01632 960 001."
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Applicant finds it difficult to hear or speak on the phone</a></p>

        {{ govukButton({
          text: "Continue",
          href: "/v2-ucd-register/contact-details/cd-summary-change"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
