{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Check your contact information
    </h1>

    <h2 class="govuk-heading-m">
      Contact details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "John Smith"
          },
          actions: {
            items: [
              {
                href: "/what-is-your-name",
                text: "Change",
                visuallyHiddenText: "Question 1"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Phone number"
          },
          value: {
            text: "55555"
          },
          actions: {
            items: [
              {
                href: "/what-is-your-phone-number",
                text: "Change",
                visuallyHiddenText: "Question 2"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Address"
          },
          value: {
            text: "1 Washington Street, Worcester, WR1 1NL"
          },
          actions: {
            items: [
              {
                href: "/select-your-address",
                text: "Change",
                visuallyHiddenText: "Question 3"
              }
            ]
          }
        },
        {
          key: {
            text: "Address for letters"
          },
          value: {
            text: "10 Downing Street, Worcester, WR1 1NL"
          },
          actions: {
            items: [
              {
                href: "/confirm-correspondence-address",
                text: "Change",
                visuallyHiddenText: "Question 3"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Alternative formats
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Alternative formats needed"
          },
          value: {
            text: "No"
          },
          actions: {
            items: [
              {
                href: "/alternative-formats",
                text: "Change",
                visuallyHiddenText: "Question 1"
              }
            ]
          }
        }
      ]
    }) }}


    <form action="/index" method="post">

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
