{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Contact details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Elizabeth Smith"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/what-is-your-name",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "21/05/1979"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/what-is-your-dob",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "1 Washington Street,<br>Worcester<br>WR1 1NL"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/select-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Same address for letters"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/correspondence-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Address for letters"
            },
            value: {
              html: "	10 London Street<br>Worcester<br>WNR 1MT"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/confirm-correspondence-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Mobile phone number"
            },
            value: {
              html: "<p class='govuk-body'>07700 900457</p>"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Other phone number"
            },
            value: {
              html: "<p class='govuk-body'>01622 563219</p>"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Textphone number"
            },
            value: {
              text: "18002 876546"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/change-what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Text message updates"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/pip-register/contact-details/do-you-want-to-receive-text-updates",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="#" method="post">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
