{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
       
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <span class="govuk-caption-l">Contact information</span>


        {{ govukRadios({
          classes: "govuk-radios--inline",
            name: "different-format",
            fieldset: {
              legend: {
                text: "Do you need us to send letters in another format?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html:'
              <p class="govuk-hint">This could be braille, sign language, audio, paper and other formats.</p>'
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
