{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Contact details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "John Smith"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/what-is-your-name",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Mobile phone number"
            },
            value: {
              html: "<p class='govuk-body'>07700 900457</p>"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Other phone number"
            },
            value: {
              html: "<p class='govuk-body'>01622 563219</p>"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Textphone number"
            },
            value: {
              text: "Not provided"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Text message updates"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/do-you-want-to-receive-text-updates",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: "No permanent address"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/select-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Same address for letters"
            },
            value: {
              text: "Not provided"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/correspondence-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Address for letters"
            },
            value: {
              html: "	10 Downing Street<br>Worcester<br>WNR 1MT"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/correspondence-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Alternative formats
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Alternative formats needed"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/register/contact-details/alternative-formats",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/ucd-register/task-list-cd-done" method="post">

        {{ govukButton({
          text: "Resume questions"
        }) }}

        <p class="govuk-body">
          <a href="/v2-ucd-register/task-list-cd-done" class="govuk-link govuk-link--no-visited-state">Return to task list</a>
        </p>

      </form>

    </div>
  </div>
{% endblock %}
