{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Can you confirm your address?
      </h1>

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          <p>6 addresses found for <b>WR1 1NL</b> and <b>1</b>. <a href="/pip-register/contact-details/what-is-your-postcode">Search again</a></p>

        {{ govukRadios({
          name: "select-an-address",
          items: [
            {
            value: "1 Washington Street, Worcester, WR1 1NL",
            text: "1 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "10 Washington Street, Worcester, WR1 1NL",
            text: "10 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "11 Washington Street, Worcester, WR1 1NL",
            text: "11 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "12 Washington Street, Worcester, WR1 1NL",
            text: "12 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "13 Washington Street, Worcester, WR1 1NL",
            text: "13 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "14 Washington Street, Worcester, WR1 1NL",
            text: "14 Washington Street, Worcester, WR1 1NL"
            }

          ]
        }) }}

      </div>

        {{ govukButton({
        text: "Confirm this address"
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-6"><a href="/pip-register/contact-details/enter-address-manually-country" class="govuk-link">Enter address manually</a></p>

      </form>

    </div>
  </div>

{% endblock %}
