{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">

        <span class="govuk-caption-l">Contact information</span>
        <h1 class="govuk-heading-xl">
          What is your name?
        </h1>

        {% call govukFieldset({
          legend: {
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name",
          name: "first-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Middle name (optional)"
          },
          id: "middle-name",
          name: "middle-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name",
          name: "last-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {% endcall %}

        {% from "govuk/components/input/macro.njk" import govukInput %}

       {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% from "govuk/components/input/macro.njk" import govukInput %}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
