{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        <h1 class="govuk-heading-xl">If we need to speak to you about your application, we'll usually contact you by phone</h1>

        <h2 class="govuk-heading-m">Your contact details</h2>


        {{ govukInput({
          label: {
            text: "Mobile phone number"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Other phone number (optional)"
          },
          hint: {
            text: "For landline, include a dialling code like 01632 960 001."
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Textphone (optional)"
          },
          hint: {
            text: "Textphones do not accept text messages from mobile phones. They're for people who cannot speak or hear clearly."
          },
          id: "textphone-number",
          name: "textphone-number",
          type: "text",
          autocomplete: "textphone",
          classes: "govuk-input--width-20"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
