{% extends "layout.html" %}

{% block pageTitle %}
Tell us about the difficulties you have with dressing and undressing and how you manage them – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="../bad/problems-dressing" method="post">
        
        <h1 class="govuk-heading-l">
          Reminders or prompts you need to dress or undress on a good day
      </h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Who reminds you?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "good-reminder-name",
          name: "good-reminder-name"
        }) }}

      {{ govukTextarea({
        name: "good-why-reminder-dressing",
        id: "good-why-reminder-hurt-dressing",
        
        value: data['good-why-supervision-dressing'],
        label: {
          text: "Why do you need reminding?",
          isPageHeading: false,
          classes: "govuk-label--s"
        }
      }) }}

      {{ govukTextarea({
        name: "good-what-reminder-dressing",
        id: "good-what-reminder-hurt-dressing",
        
        value: data['good-what-supervision-dressing'],
        label: {
          text: "What would happen if you do not get reminded?",
          isPageHeading: false,
          classes: "govuk-label--s"
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
