{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
              name: "before",
              fieldset: {
                legend: {
                  text: "Did you start living in the UK before 2021?",
                    isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "The UK is Northern Ireland, England, Scotland and Wales."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "Don't know"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-nat-in-progress"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
