{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

{% set textHtml %}
{{ govukInput({
  id: "other-support-type",
  name: "support",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Support person"
  }
}) }}
{% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate>

        <h1 class="govuk-heading-xl">
          Your second health contact
        </h1>

        {{ govukInput({
          label: {
            text: "What is their job or their relationship to you?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          id: "contact",
          name: "contact"
        }) }}



        <div class="govuk-body govuk-!-margin-bottom-6"></div>

        {{ govukInput({
          label: {
            text: "What is their full name?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Enter their position or job title if name is not known. For example, 'Duty GP'."
          },
          id: "event-name",
          name: "eventName"
        }) }}

          <div class="govuk-body govuk-!-margin-bottom-6"></div>

          {{ govukInput({
            label: {
              text: "What is their phone number?",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "For example, 07700 900 982 or 01632 960 001."
            },
            id: "contact",
            name: "contact",
            classes: "govuk-input--width-20"
          }) }}


          {{ govukInput({
            label: {
              text: "When did you last speak to them?",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "This can be approximate - for example January 2025 or 6 months"
            },
            id: "event-name",
            name: "eventName"
          }) }}


          <div class="govuk-body govuk-!-margin-bottom-6"></div>

            {{ govukButton({
              text: "Continue"
            }) }}

      </form>
    </div>
  </div>

{% endblock %}
