{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate>

        <h1 class="govuk-heading-xl">Your health and care professionals</h1>

              {{ govukRadios({
                name: "contact",
                fieldset: {
                  legend: {
                    text: "Which health and care professional knows most about your daily living and mobility needs?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "GP",
                    text: "GP"
                  },
                  {
                    value: "hospital-doctor",
                    text: "Hospital doctor"
                  },
                  {
                    value: "specialist",
                    text: "Specialist"
                  }
                ]
              }) }}
        <div class="govuk-body govuk-!-margin-bottom-6"></div>

        {{ govukInput({
          label: {
            text: "What is their full name?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Enter their position or job title if name is not known. For example, 'Duty GP'."
          },
          id: "event-name",
          name: "eventName"
        }) }}

        <div class="govuk-body govuk-!-margin-bottom-6"></div>

        {{ govukInput({
          label: {
            text: "What is their work phone number?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "For example, 07700 900 982 or 01632 960 001."
          },
          id: "contact",
          name: "contact",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "When did you last speak to them?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "This can be approximate - for example January 2025 or 6 months"
          },
          id: "event-name",
          name: "eventName"
        }) }}


    <div class="govuk-body govuk-!-margin-bottom-6"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

    </div>
  </div>

  {% endblock %}
