{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Can you confirm the full address?
      </h1>

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="/pip-register/healthcare-professional/postcode">Search again</a></p>

        {{ govukRadios({
          name: "select-an-address",
          items: [
            {
            value: "1 Washington Street, Worcester, WR1 1NL",
            text: "1 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "10 Washington Street, Worcester, WR1 1NL",
            text: "10 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "11 Washington Street, Worcester, WR1 1NL",
            text: "11 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "101 Washington Street, Worcester, WR1 1NL",
            text: "101 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "110 Washington Street, Worcester, WR1 1NL",
            text: "110 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "111 Washington Street, Worcester, WR1 1NL",
            text: "111 Washington Street, Worcester, WR1 1NL"
            }
          ]
        }) }}

      </div>

        {{ govukButton({
          text: "Confirm this address"
        }) }}


        <p class="govuk-body govuk-!-margin-bottom-6"><a href="/pip-register/healthcare-professional/enter-address-manually" class="govuk-link">Enter address manually</a></p>

      </form>

    </div>
  </div>

{% endblock %}
