
{% extends "layout.html" %}

{% block pageTitle %}
Prototype for Team Lark working on Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading"><span class="govuk-caption-xl">Apply for Personal Independence Payment (PIP)</span>
          How your condition affects your daily life
        </h1>
    </legend>



      <p>The next questions are about how your health condition affects you in your daily life. Your responses will help us determine your entitlement to PIP.
      </p>


      <p class="govuk-body">We'll ask you about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>travelling from place to place</li>
        <li>shopping for essential items</li>
        <li>doing the housework</li>
        <li>going to medical appointments</li>
        <li>going to work</li>
        <li>preparing meals</li>
        <li>budgeting</li>
      </ul>
      
      <p>We know talking about your health condition may be difficult, but we need you to tell us as much as you can. This will help us make the right decision on your claim.
      </p>

      <a  class="govuk-button" href="travel">Continue</a>



      
      
      
       
    </div>
  </div>

{% endblock %}
