
{% extends "layout.html" %}

{% block pageTitle %}
Prototype for Team Lark working on Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading"><span class="govuk-caption-xl">Apply for Personal Independence Payment (PIP)</span>
          Check your answers
        </h1>
    </legend>



    <h2 class="govuk-heading-m">Travelling</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you travel from place to place?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you travel from place to place</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you need support when travelling from place to place?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, someone helps me<br>
            Yes, I use something to help me 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What help from another person do you need when travelling? 
          </dt>
          <dd class="govuk-summary-list__value">
            Carers help me get ready to go out <br>Friend or relative drives me in their car
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> what help you need from another person when travelling from place to place</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What things do you use to help you when travelling? 
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">I use a walking frame to move around when outside my home</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> what things you use to help you when travelling from place to place</span></a></li>
            </ul>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Shopping</h2>
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Do you shop for essential items?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you shop for essential items</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Why don't you shop for essential items?
            </dt>
            <dd class="govuk-summary-list__value">
                I cannot do this due to my health condition
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Housework</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you do your own housework?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you travel from place to place</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you need support to do your housework?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes, someone helps me
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What help from another person do you need when doing your housework? 
              </dt>
              <dd class="govuk-summary-list__value">
                Family members help me do the housework
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> what help you need from another person when travelling from place to place</span></a>
              </dd>
            </div>
          </dl>




          <h2 class="govuk-heading-m">Medical appointments</h2>
          <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you manage your own medical appointments? 
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you travel from place to place</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you get support to manage your medical appointments?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes, I use something to help me
                        </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What things do you use to help you manage your medical appointments? 
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">I use a screenreader to book appointments online<br>
                    I use a walking frame to move around when outside my home</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> what things you use to help you when travelling from place to place</span></a></li>
                  </ul>
                </dd>
              </div>
            </dl>

              
              <h2 class="govuk-heading-m">Working</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Do you work?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you travel from place to place</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Why do you not work? 
                  </dt>
                  <dd class="govuk-summary-list__value">
                      I've never done this
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
                  </dd>
                </div>
              </dl>  
                 
            <h2 class="govuk-heading-m">Preparing food</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Do you usually prepare and cook your own meals?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you travel from place to place</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Do you get support to prepare and cook your own meals?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No, I do this without support
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
                  </dd>
                </div>
              </dl>            

                
                <h2 class="govuk-heading-m">Managing money</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Do you manage your own money?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Yes
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you travel from place to place</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Do you get support to manage your money?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        No, I do this without support
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether you need support when travelling from place to pla e</span></a>
                      </dd>
                    </div>
                  </dl>
            
  
      <a  class="govuk-button" href="../../index-ur">Continue</a>



      
      
      
       
    </div>
  </div>

{% endblock %}
