{% extends "layouts/main.html" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter reason the applicant needs to be contacted in this format",
      href: "#more-detail"
    }
  ]
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
          name: "moreDetail",
          id: "more-detail",
          maxlength: 240,
          label: {
            text: "Why do you need us to [contact you by email/send you PDFs] instead of printed letters?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: {
            text: "Enter reason the applicant needs to be contacted in this format"
          },
          hint: {
            text: "Any information you give us will help our 'alternative formats' team assess your request."
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div> 
</div> 

{% endblock %}

