{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if applicant would like to receive text messages with updates about the progress of their claim",
      href: "#full-name-input"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "do-you-want-to-receive-text-updates",
            fieldset: {
              legend: {
                text: " Do you want to receive text messages with updates about the progress of your claim?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html:'
              <p class="govuk-hint">You can opt out of receiving these at any time by contacting us.</p>'
            },
            errorMessage: {
              text: "Select yes if applicant would like to receive text messages with updates about the progress of their claim"
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
