{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">
        {% call govukFieldset({
          legend: {
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Preferred name must be 100 characters or less",
              href: "#preferred-name"
            }
          ]
        }) }}

        <span class="govuk-caption-l">Contact information</span>
        <h1 class="govuk-heading-l">What is your name?</h1>

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "full-name-input",
          name: "name",
          autocomplete: "name"
        }) }}

        {{ govukInput({
          label: {
            text: "Middle name (optional)"
          },
          id: "middle-name",
          name: "middle-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name",
          name: "last-name",
          autocomplete: "name"
        }) }}

        {% endcall %}

      {% set preferredNameHtml %}
      {{ govukInput({
        id: "preferred-name",
        name: "preferred-name",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Preferred name"
        },
        errorMessage: {
          text: "Preferred name must be 100 characters or less",
          spellcheck: false
        }
      }) }}
      {% endset -%}

        {{ govukRadios({
          name: "contact-name",
          fieldset: {
            legend: {
              text: "Is this the name we should use when we contact you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true,
              conditional: {
                html: preferredNameHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}

