{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"   
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Print size must be 32 or smaller",
      href: "#font-size"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="#" method="post" novalidate>

        <h1 class="govuk-heading-l">Our large print letters are usually font size 16</h1>

        <h2 class="govuk-heading-m">Is that large enough for you to read?</h2>

        {% set printHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "font-size",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-2",
          label: {
            text: "Enter print size, up to 32"
          },
          errorMessage: {
            text: "Print size must be 32 or smaller"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          id: "large-print",
          name: "large-print",
          value: large-print,
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "large-print-16",
              text: "Yes, size 16" 
            },
            {
              value: "another-size",
              text: "No, another size",
              conditional: {
                html: printHtml
              },
              checked: true
            }
          ]
        }) }}
        
          {{ govukButton({
            text: "Continue"
          }) }}

      </form>
    </div>
  </div>
{% endblock %}


{# 

, {
    checked: data["altFormats"]["written"]["large-print-other"],
    text: "Other",
    conditional: {
      html: fontSizeHtml
    }
  }

#}