{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if applicant is able to manage their post and return information by post",
      href: "#post"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        When we need you to send us information about your claim
      </h1>

      <form class="form" action="#" method="post">

      <h2 class="govuk-heading-m">
        Are you able to complete forms?
      </h2>

        {{ govukRadios({
            name: "forms",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          <h2 class="govuk-heading-m">
            Are you able to read and respond to letters?
          </h2>
    
            {{ govukRadios({
                name: "letters",
                fieldset: {
                  legend: {
    
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

              <h2 class="govuk-heading-m">
                Are you able to manage your post and return information by post?
              </h2>
        
                {{ govukRadios({
                    name: "post",
                    fieldset: {
                      legend: {
        
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                      {
                        value: "yes",
                        text: "Yes"
                      },
                      {
                        value: "no",
                        text: "No"
                      }
                    ],
                    errorMessage: {
                      text: "Select yes if applicant is able to manage their post and return information by post"
                    }
                  }) }}

             
                  {{ govukButton({
                    text: "Continue"
                  }) }}

      </form>

    </div>
  </div>

{% endblock %}
