{% extends "layout.html" %}

{% block pageTitle %}
Tell us about the difficulties you have with moving around and how you manage them – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="supervision-moving-around" method="post">


      {{ govukTextarea({
        name: "bad-hurt-moving-around",
        id: "bad-hurt-moving-around",
        
        value: data['bad-hurt-moving-around'],
        label: {
          text: "How do you injure or hurt yourself when moving around on a bad day",
          isPageHeading: true,
          classes: "govuk-label--l"
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
