{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "authorised-person",
      fieldset: {
        legend: {
          text: "Has the person you're calling for authorised you to make the claim for them, or have you been legally appointed to deal with their benefits?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "authorised",
          text: "Authorised by applicant"
        },
        {
          value: "appointed",
          text: "Legally appointed"
        },
        {
          value: "neither",
          text: "Neither"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
    
  </div>
</div>

{% endblock %}