{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-xl">We have not been able to confirm your identity</h1>

      <p class="govuk-body">We can continue with your application. However, we will not be able to make a decision on your application until we can confirm your identity.</p>

      <p class="govuk-body">Call our Enquiry Line on 0800 121 4433 to confirm your identity. If you are unable to do this, we may call you or we will write to you requesting identity
documents. </p>
      {{ govukButton({
        text: "Continue"
      }) }}

  </form>

  </div>
</div>

{% endblock %}
