{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

    <h1 class="govuk-heading-xl">
      Do you want to apply for PIP in England and Wales?
    </h1>


    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "gb-pip",
      fieldset: {
        legend: {
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes, England and Wales"
        },
        {
          divider: "or"
        },
        {
          value: "n-ireland",
          text: "No, Northern Ireland"
        },
        {
          value: "scotland",
          text: "No, Scotland"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

  </div>
</div>

{% endblock %}
