{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-xl">
        This is the phone line for England and Wales only
      </h1>

      <p class="govuk-body">
        If you want to apply for PIP in Northern Ireland, you need to call the Personal Independence Payment Centre.
       </p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "Apply for PIP in Northern Ireland: 0800 012 1573"
      }) }}

      <p class="govuk-body">
        If you would still like to make a claim for PIP in England or Wales, we can <a href="/pip-register/signposting-eligibility/claiming-self" class="govuk-link">continue with your application</a>.
      </p>

  </form>

  </div>
</div>

{% endblock %}
