{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <form action="#" method="post" novalidate>
            {{ govukRadios({
              name: "are-you-getting-any-of-these-benefits",
              fieldset: {
                legend: {
                  text: "Are you getting any of these benefits?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "war-pension-constant",
                  text: "War Pension Constant Attendance Allowance (WPCAA)"
                },
                {
                  value: "war-pension-mobility",
                  text: "War Pension Mobility Supplement (WPMS)"
                },
                {
                  value: "industrial-injuries-constant",
                  text: "﻿Industrial Injuries Disablement Benefit Constant Attendance Allowance (IIDBCAA)"
                },
                {
                  value: "afip",
                  text: "﻿Armed Forces Independence Payment (AFIP)"
                },
                {
                  divider:"or"
                },
                {
                  value: "none",
                  text: "No, or other"
                }
              ]
            }) }}
    
            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}
