{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

        <h1 class="govuk-heading-xl">I need to check your details for security reasons</h1>

        {{ govukInsetText({
          classes: 'colour-blue',
            text: "Action: Ask 3 questions, or stop asking questions if the first 2 answers are correct."
        }) }}

        <p class="govuk-body">
          <a href="nino-bau-kickout" class="govuk-link govuk-link--no-visited-state">Not enough applicant data to ask security questions</a>
        </p>

        {{ govukCheckboxes({
          name: "security",
          fieldset: {
            legend: {
              text: "Security questions",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select the questions you ask the applicant"
          },
          items: [
            {
              value: "homephone",
              text: "Home phone number"
            },
            {
              value: "mobile",
              text: "Mobile phone number"
            },
            {
              value: "childname",
              text: "Eldest child's full name"
            },
            {
              value: "childdob",
              text: "Eldest child's date of birth"
            },
            {
              value: "partnersdob",
              text: "Partner's date of birth"
            },
            {
              value: "partnersnino",
              text: "Partner's National Insurance number"
            },
            {
              value: "benefits",
              text: "Other benefits received (in last 31 months)"
            }
          ]
        }) }}



        {{ govukRadios({
          name: "security-verified",
          fieldset: {
            legend: {
              text: "Applicant answers",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
          {
            value: "2correct",
            text: "2 correct answers"
          },
          {
            value: "1correct",
            text: "1 correct answer"
          },
          {
            value: "none",
            text: "No correct answers"
          }
          ]
        }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
