{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-xl">
        PIP is only for people aged 16 or over
      </h1>

       <p class="govuk-body">
        You may be eligible for DLA for children instead. 
       </p>

       <p class="govuk-body">
        Call the DLA helpline and ask for a printed form to apply.
       </p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "DLA helpline: 0800 121 4600"
      }) }}

  </form>

  </div>
</div>

{% endblock %}
