{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      {{ govukInput({
        label: {
          text: "What is your National Insurance number?",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’"
        },
        id: "ni-number",
        name: "niNumber"
      }) }}

      <p class="govuk-body">
        <a href="nino-bau-kickout" class="govuk-link govuk-link--no-visited-state">Applicant cannot give a UK National Insurance number</a>
      </p>

      {{ govukInsetText({
        classes: 'colour-blue',
          text: "Action: Enter National Insurance number in Searchlight, and confirm the applicant's name matches their record."
      }) }}


    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

  </div>
</div>

{% endblock %}
