{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="#" method="post">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Health and care contacts
      </h2>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Dr Smith"
          },
          actions: {
            items: [
              {
                href: "/ucd-register/healthcare-professional/hcp-cyas/remove-health-professional",
                text: "Remove",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        },
        rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            html: "Dr Smith"
          },
          actions: {
            items: [
              {
                href: "/ucd-register/healthcare-professional/healthcare-prof-type",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Job or support role"
          },
          value: {
            html: "General Practitioner"
          },
          actions: {
            items: [
              {
                href: "/ucd-register/healthcare-professional/healthcare-prof-type",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
          {
            key: {
              text: "Phone number"
            },
            value: {
              html: "<p class='govuk-body'>01622 55987</p>"
            },
            actions: {
              items: [
                {
                  href: "/ucd-register/healthcare-professional/healthcare-prof-type",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "<p class='govuk-body'>4 Privet Drive, Little Whinging, Surrey</p>"
            },
            actions: {
              items: [
                {
                  href: "/ucd-register/healthcare-professional/postcode",
                  text: "Change",
                  visuallyHiddenText: "age"
                }
              ]
            }
          }
        ]
      }) }}



      {{ govukSummaryList({
        card: {
          title: {
            text: "Karen Jones"
          },
          actions: {
            items: [
              {
                href: "/ucd-register/healthcare-professional/hcp-cyas/remove-health-professional",
                text: "Remove",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        },
        rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            html: "Karen Jones"
          },
          actions: {
            items: [
              {
                href: "/ucd-register/healthcare-professional/additional-support-type",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
          {
            key: {
              text: "Job or support role"
            },
            value: {
              html: "<p class='govuk-body'>Physiotherapist</p>"
            },
            actions: {
              items: [
                {
                  href: "/ucd-register/healthcare-professional/additional-support-type",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              html: "<p class='govuk-body'>0795 42687</p>"
            },
            actions: {
              items: [
                {
                  href: "/ucd-register/healthcare-professional/additional-support-type",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "<p class='govuk-body'>64 Zoo lane, Surrey</p>"
            },
            actions: {
              items: [
                {
                  href: "/ucd-register/healthcare-professional/postcode-support",
                  text: "Change",
                  visuallyHiddenText: "age"
                }
              ]
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "/ucd-register/task-list-hcp-done"
        }) }}


      </form>

    </div>
  </div>
{% endblock %}
