{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-body govuk-!-margin-bottom-9">

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

        <h2 class="govuk-heading-m">
          Communicating with us
        </h2>

              {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Mental health condition or other condition that causes difficulty"
              },
              value: {
                text: "Yes / No"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/additional-support/do-you-have-a-condition",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Able to complete forms"
              },
              value: {
                text: "Yes / No"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/additional-support/complete-forms",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  }
                ]
              }
            },
            {
              key: {
                text: "Able to read and respond to letters"
              },
              value: {
                text: "Yes / No"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/additional-support/complete-forms",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            },
            {
              key: {
                text: "Able to manage post"
              },
              value: {
                text: "Yes / No"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/additional-support/complete-forms",
                    text: "Change",
                    visuallyHiddenText: "Question 4"
                  }
                ]
              }
            },
            {
              key: {
                text: "Anyone to help with these tasks"
              },
              value: {
                text: "Yes / No"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/additional-support/helpers",
                    text: "Change",
                    visuallyHiddenText: "Question 5"
                  }
                ]
              }
            },
            {
              key: {
                text: "Helper relationship"
              },
              value: {
                text: "A family member"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/additional-support/who-helps",
                    text: "Change",
                    visuallyHiddenText: "Question 6"
                  }
                ]
              }
            },
            {
              key: {
                text: "Alternative letter format"
              },
              value: {
                text: "No / Large print / Audio / Braille / Email / PDF"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/contact-details/correspondence-address",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            },
            {
              key: {
                text: "Large print letter size"
              },
              value: {
                text: "16 / [size entered in conditional reveal textbox]"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/contact-details/correspondence-address",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            },
            {
              key: {
                text: "Need for email"
              },
              value: {
                text: "[text entered in text area]"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/contact-details/correspondence-address",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            },
            {
              key: {
                text: "Need for PDF"
              },
              value: {
                text: "[text entered in text area]"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/contact-details/correspondence-address",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: "example@gmail.com"
              },
              actions: {
                items: [
                  {
                    href: "/pip-register/contact-details/correspondence-address",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }

          ]
        }) }}
      </div>

            {{ govukButton({
              text: "Save and continue",
              href: "/pip-register/nationality/start"
            }) }}


        </form>

    </div>
  </div>
{% endblock %}
