{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Communicating with us
      </h1>

      <p class="govuk-body">We want to understand if you have significant difficulty communicating with us if you have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a mental health condition</li>
        <li>learning, developmental or behavioural difficulties</li>
        <li>a cognitive impairment</li>
      </ul>

      {{ govukDetails({
        summaryText: "Examples of conditions",
        html: '<p class="govuk-body">This list is not exhaustive.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Severe depression</li>
              <li>Bipolar disorder</li>
              <li>Post Traumatic Stress Disorder (PTSD)</li>
              <li>Obsessive Compulsive Disorder (OCD)</li>
              <li>Psychosis</li>
              <li>Schizophrenia</li>
              <li>Personality disorder</li>
              <li>Conduct disorder</li>
              <li>Attention deficit hyperactivity disorder (ADHD)</li>
              <li>Down syndrome</li>
              <li>developmental delay</li>
              <li>Alzheimer’s or Dementia</li>
            </ul>'
      }) }}

      <form class="form" action="#" method="post">

        {{ govukRadios({
            name: "any-condition",
            fieldset: {
              legend: {
                text: "Do you have a mental health condition or a condition that causes you significant difficulties remembering things, learning new things, or making everyday decisions?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukInsetText({
           classes: 'colour-blue',
             html: '<p class="govuk-body">Action: If no, but they clearly demonstrate a mental or cognitive condition by not following, understanding or engaging with the call then continue as if they answered yes:
    </p>'
         }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>



    </div>
  </div>

{% endblock %}
