{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Are you able to manage your post and return information by post?
      </h1>

      <p class="govuk-body">This includes</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>opening and sorting through post</li>
        <li>managaing deadlines</li>
        <li>going to the post box</li>
      </ul>

      <form class="form" action="#" method="post">

        {{ govukRadios({
            name: "post",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
