{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Are you able to read and respond to letters?
      </h1>

      <p class="govuk-body">This includes</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>answering questions we might ask in letters</li>
        <li>remembering to read and respond to letters</li>
        <li>repsonding to letters by post or phone</li>
      </ul>

      <form class="form" action="#" method="post">

        {{ govukRadios({
            name: "letters",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
