{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <span class="govuk-caption-xl">Additional support needs</span> -->
      <h1 class="govuk-heading-xl">
        The next questions are about your ability to complete a PIP application and communicate with us
      </h1>

      <p class="govuk-body">We want to understand if you have significant difficulty communicating with us and how we should best communicate with you due to your health condition.</p>

      <p class="govuk-body">Your answers will not affect whether you qualify for PIP.</p>


     <form class="form" action="#" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

    </div>
  </div>

{% endblock %}
