{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        <h1 class="govuk-heading-xl">
          Who is helping you? 
        </h1>

        {{ govukRadios({
          name: "whoishelping",
          items: [
            {
              value: "family",
              text: "A family member"
            },
            {
              value: "friend",
              text: "A friend"
            },
            {
              value: "carer",
              text: "A carer"
            },
            {
              value: "hp",
              text: "A health professional"
            },
            {
              value: "organisation",
              text: "A support organisation"
            },
            {
              value: "council",
              text: "Your local council"
            },
            {
              value: "other",
              text: "Other"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
