
{% extends "layout-nn.html" %}

{% block pageTitle %}
Prototype for Team Lark working on Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">E2E Now/Next Prototypes</h1>

      <h2 class="govuk-heading-l"> Motability</h2>
      <h3 class="govuk-heading-s">Title of research</h3>
      <p class="govuk-body">06/03/2025 - 07/03/2025</p>
      <p class="govuk-body">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133862163999/Motability+Scheme+UR+plan+March+2025" class="govuk-link govuk-link--no-visited-state">Design and research documented in Confluence</a>
      </p>

      <form class="form" action="start-task" method="post">
        {{ govukButton({
          text: 'Start task'
        }) }}
        </form>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <p><a href="/lark-archive">View Lark archive</a></p>


    </div>
  </div>

{% endblock %}
