
{% extends "layout-nn.html" %}

{% block pageTitle %}
Prototype for Team Lark working on Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">E2E Now/Next Prototypes</h1>

      <h2 class="govuk-heading-l"> Motability TESTING</h2>
      <p class="govuk-hint"> 6th - 7th March 2025</p>
      <h3 class="govuk-heading-m">Understanding claimant thoughts around </h3>
      <p class="govuk-body"> Currently, claimants who express interest in the Motability Scheme in PIP1 are ejected from the thin slice. We are assuming that expressing interest in MS happens too early on in the journey and claimants do not understand enough about the scheme to make a decision to opt in/out of it. </p>
      <p class="govuk-body">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133862163999/Motability+Scheme+UR+plan+March+2025" class="govuk-link govuk-link--no-visited-state">Design and research documented in Confluence</a>
      </p>
      <a  class="govuk-button" href="https://pip-starting.herokuapp.com/apply-for-pip/claim-registration/start">Start task</a>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <p><a href="/lark-archive">View Lark archive</a></p>



    </div>
  </div>

{% endblock %}
