
{% extends "layout-nn.html" %}

{% block pageTitle %}
Prototype for Team Lark working on Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">User research</h1>

      <h2 class="govuk-heading-l"> Telephony Registration</h2>
      <p class="govuk-body"><a href="/pip-register/signposting-eligibility/service-start-page" class="govuk-link govuk-link--no-visited-state">Start call</a></p>
      <p class="govuk-body"><a href="/pip-register/welcome-screen" class="govuk-link govuk-link--no-visited-state">PIP intro</a></p>
        <p class="govuk-body"><a href="/pip-register/contact-details/what-is-your-name" class="govuk-link govuk-link--no-visited-state">Contact details</a></p>
        <p class="govuk-body"><a href="/pip-register/additional-support/start-info" class="govuk-link govuk-link--no-visited-state">How you communicate</a></p>
        <p class="govuk-body"><a href="/pip-register/nationality/start" class="govuk-link govuk-link--no-visited-state">Nationality work and residence</a></p>
        <p class="govuk-body"><a href="/pip-register/healthcare-professional/start" class="govuk-link govuk-link--no-visited-state">Health and care contacts</a></p>
        <p class="govuk-body"><a href="/pip-register/hospital-dates/5-1-why-we-need-details" class="govuk-link govuk-link--no-visited-state">Hospital and care facilities</a></p>
        <p class="govuk-body"><a href="/pip-register/bank-details/6-1-start" class="govuk-link govuk-link--no-visited-state">Bank details</a></p>
        <p class="govuk-body"><a href="/pip-register/motability/motability" class="govuk-link govuk-link--no-visited-state">Motability scheme</a></p>
        <p class="govuk-body"><a href="/pip-register/what-happens-next/what-happens-next" class="govuk-link govuk-link--no-visited-state">Complete registration</a></p>
        <p class="govuk-body"><a href="/pip-register/task-list-as-done" class="govuk-link govuk-link--no-visited-state">Tasklist</a></p>




    </div>
  </div>

{% endblock %}
