
{% extends "layout-nn.html" %}

{% block pageTitle %}
Prototype for Team Lark working on Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">User research</h1>

      <h2 class="govuk-heading-l"> Telephony Registration</h2>
      <p class="govuk-body">
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/signposting-eligibility/service-start-page" class="govuk-link govuk-link--no-visited-state">Start call</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/contact-details/what-is-your-name" class="govuk-link govuk-link--no-visited-state">Reg link 1</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/additional-support/start-info" class="govuk-link govuk-link--no-visited-state">Reg link 2</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/nationality/start" class="govuk-link govuk-link--no-visited-state">Reg link 3</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/healthcare-professional/start" class="govuk-link govuk-link--no-visited-state">Reg link 4</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/hospital-dates/5-1-why-we-need-details" class="govuk-link govuk-link--no-visited-state">Reg link 5</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/bank-details/6-1-start" class="govuk-link govuk-link--no-visited-state">Reg link 6</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/motability/motability" class="govuk-link govuk-link--no-visited-state">Reg link 7</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/what-happens-next/what-happens-next" class="govuk-link govuk-link--no-visited-state">Reg link 8</a>
        <a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/pip-register/task-list-as-done" class="govuk-link govuk-link--no-visited-state">Reg link 9</a>


      </p>

    </div>
  </div>

{% endblock %}
