{% extends "layout.html" %}

{% block pageTitle %}
Tell us about the difficulties you have with preparing food and how you manage them – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="reminder-preparing-food" method="post">
        
        <h1 class="govuk-heading-l">
          Supervision or help you need to prepare food on a good day
      </h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Who supervises you?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "good-superviser-name",
          name: "good-superviser-name"
        }) }}

      {{ govukTextarea({
        name: "good-why-supervision-preparingfood",
        id: "good-why-supervision-hurt-preparingfood",
        
        value: data['good-why-supervision-preparingfood'],
        label: {
          text: "Why do you need supervision or help?",
          isPageHeading: false,
          classes: "govuk-label--s"
        }
      }) }}

      {{ govukTextarea({
        name: "good-what-supervision-preparingfood",
        id: "good-what-supervision-hurt-preparingfood",
        
        value: data['good-what-supervision-preparingfood'],
        label: {
          text: "What would happen if you do not get supervision or help?",
          isPageHeading: false,
          classes: "govuk-label--s"
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
