{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

          <h1 class="govuk-heading-xl">
            I will now read out the declaration then ask you to agree to it
          </h1>

          <h2 class="govuk-body">You declare that the information you give will be correct and complete as far as you know and believe.​
          </h2>

          <p class="govuk-body">You understand that if you knowingly give false information your benefit may be stopped and you may be liable to prosecution or other action.</p>

          <p class="govuk-body">You understand that you must promptly tell the Department for Work and Pensions (DWP) that pays your Personal Independence Payment of anything that may affect your entitlement to, or the amount of, that benefit.</p>

          <p class="govuk-body">You understand that the DWP may use the information which it has now or may get in future to decide whether you are entitled to:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the benefit you are claiming, </li>
            <li>any other benefit you have claimed, or</li>
            <li>any other benefit you may claim or be awarded in the future.</li>
          </ul>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          <p class="govuk-body">If you agree, we can continue to gather the information needed for your claim.</p>

          <div class="govuk-button-group">
          {{ govukButton({
          text: "Agree and continue"
          }) }}

          <a class="govuk-link" href="declaration-kickout">Applicant does not agree</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
