{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register a claim for PIP
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> Contact information
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/pip-register/contact-details/contact-details-summary" aria-describedby="contact-information-1-status">
                  Change contact information
                </a>
              </div>
              <div class="govuk-task-list__status" id="contact-information-1-status">
                <strong class="govuk-tag govuk-tag--blue">Completed</strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/pip-register/additional-support/add-support-summary" aria-describedby="contact-information-2-status">
                  Additional support needs
                </a>
              </div>
              <div class="govuk-task-list__status" id="contact-information-2-status">
                <strong class="govuk-tag govuk-tag--blue">Completed</strong>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> Nationality, work and residence
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/pip-register/nationality/nationality-summary" aria-describedby="nationality-status">
                  Change nationality, work and residence
                </a>
              </div>
              <div class="govuk-task-list__status" id="nationality-status">
                <strong class="govuk-tag govuk-tag--blue">Completed</strong>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Healthcare and support
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/pip-register/healthcare-professional/hp-summary-two-remove" aria-describedby="healthcare-status-1">
                  Change health and care contacts
                </a>
              </div>
              <div class="govuk-task-list__status" id="healthcare-status-1">
                <strong class="govuk-tag govuk-tag--blue">Completed</strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/pip-register/hospital-dates/hospital-residence-summary" aria-describedby="healthcare-status-2">
                  Change hospital and care facilities
                </a>
              </div>
              <div class="govuk-task-list__status" id="healthcare-status-2">
                <strong class="govuk-tag govuk-tag--blue">Completed</strong>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Bank details
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/pip-register/bank-details/6-1-start" aria-describedby="bank-details-status">
                  Add bank details
                </a>
              </div>
              <div class="govuk-task-list__status" id="bank-details-status">
                <strong class="govuk-tag govuk-tag--grey">Not started</strong>
              </div>
            </li>
          </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="govuk-prototype-kit-task-list__section-number">5. </span> Motability Scheme
            </h2>
            <ul class="app-task-list__items govuk-!-margin-bottom-7">
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/pip-register/motability/motability" aria-describedby="motabiltiy-scheme-status">
                   Add Motability Scheme
                  </a>
                </div>
                <div class="govuk-task-list__status" id="motability-scheme-status">
                  <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                </div>
              </li>
            </ul>
            </li>

      </ol>
    </div>
  </div>

{% endblock %}
