{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

          <h1 class="govuk-heading-xl">
            I will briefly explain to you about Personal Independence Payment, which I will call PIP from now on
          </h1>

          <p class="govuk-body">PIP is for people who:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>have a long-term health condition or disability, and</li>
              <li> need help doing everyday activities</li>
            </ul>

            {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

              {{ govukInsetText({
                text: "The amount you may get depends on how your conditions affect you, not the conditions themselves."
              }) }}

          <h2 class="govuk-heading-m">On this call</h2>

          <p class="govuk-body"> I am going to ask you for details about:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>where you live</li>
            <li>any time spent abroad</li>
              <li>the health professionals you see, and</li>
              <li>your bank or building society account</li>
          </ul>

          {{ govukButton({
            text: "Continue"
          }) }}


      </form>

    </div>
  </div>

{% endblock %}
