{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

          <h1 class="govuk-heading-xl">
            The next question is about the Motability Scheme
          </h1>

          <p class="govuk-body">The Motability Scheme lets disabled people lease a car, scooter or powered wheelchair using all or some of their PIP mobility payments.</p>

          <p class="govuk-body">The scheme is operated by a not for profit organisation and is regulated by the Motability Charity.</p>

          <p class="govuk-body">If you would like more information we will share your name and address with the scheme operators.</p>

          <p class="govuk-body">If you're eligible and do not apply for the scheme, they will send you information about it in the post in around 12 months.</p>

          <h2 class="govuk-heading-m">If eligible, would you like the Motability Scheme to send you information about it?</h2>

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "postMotability",
            fieldset: {
              legend: {
                isPageHeading: true
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          <p class="govuk-body">If you change your mind about receiving Motability Scheme information, you can let us know by calling the number I gave you earlier. We will send you an email when you submit your claim which will include these contact details.</p>

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
