{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select an address",
            href: "#nationality"
          }
        ]
      }) }}


      <h1 class="govuk-heading-l">
        Can you confirm the hospice's address?
      </h1>

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          <p>3 addresses found for <b>Princess Alice Hospice</b> and <b>KT10 8NA</b>. <a href="/v2-ucd-register/contact-details/what-is-your-postcode">Search again</a></p>


        {{ govukRadios({
          name: "select-an-address",
          errorMessage: {
            text: "Select an address"
          },
          items: [
            {
            value: "W End Ln, Esher KT10 8NA",
            text: "Princess Alice Hospice, West End Lane, Esher KT10 8NA"
            },
            {
            value: "39 High St, Esher KT10 9RL",
            text: "Princess Alice Hospice Shop, 39 High St, Esher KT10 8NA"
            },
            {
            value: "31 The Parade, Claygate, Esher KT10 0PD",
            text: "Princess Alice Hospice - Claygate shop, 31 The Parade, Claygate, Esher KT10 8NA"
            }
          ]
        }) }}
        
        <p class="govuk-body govuk-!-margin-bottom-6"><a href="/ucd-register/hospital-dates/5-18-hospice-address-manually" class="govuk-link">Enter address manually</a></p>
      </div> 

        {{ govukButton({
          text: "Confirm this address"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
