{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter name of organisation paying accommodation costs",
                href: "#nationality"
              }
            ]
          }) }}

          <h1 class="govuk-heading-l">
            What is the name of the [organisation type]?
          </h1>
    
              {% from "govuk/components/input/macro.njk" import govukInput %}
    
            {{ govukInput({
              label: {
                text: "Name of authority or charity"
              },
              id: "event-name",
              name: "eventName",
              errorMessage: {
                text: "Enter name of organisation paying accommodation costs"
              }
            }) }}

          {{ govukButton({
            text: "Continue"
          }) }}


        </div>
      </form>
    </div>
  </div>

{% endblock %}