{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select accommodation type if applicant is living in one of these",
                href: "#nationality"
              }
            ]
          }) }}

          <h1 class="govuk-heading-l">Are you living in a care home or nursing home, sheltered housing, a residential college or a hostel today?</h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "other-today",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select accommodation type if applicant is living in one of these"
          },
          items: [
          {
            value: "no",
            text: "No, none of these"
          },
          {
            divider: "or,"
          },
            {
              value: "yes",
              text: "Care home"
            },
            {
              value: "yes",
              text: "Nursing home"
            },
            {
              value: "yes",
              text: "Sheltered housing"
            },
            {
              value: "yes",
              text: "Residential college"
            },
            {
              value: "yes",
              text: "Hostel"
            }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
    
        </div>
      </form>
    </div>
  </div>

{% endblock %}