{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select an address",
            href: "#nationality"
          }
        ]
      }) }}

      <h1 class="govuk-heading-l">
        Can you confirm the hospital's address?
      </h1>

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          <p>3 addresses found for <b>Guy's Hospital</b> and <b>SE1 9RT</b>. <a href="/v2-ucd-register/contact-details/what-is-your-postcode">Search again</a></p>

        {{ govukRadios({
          name: "select-an-address",
          errorMessage: {
            text: "Select an address"
          },
          items: [
          {
            value: "Great Maze Pond, London SE1 9RT",
            text: "Guy's Hospital, Great Maze Pond, London SE1 9RT"
            },
            {
            value: "Westminster Bridge Road, London SE1 9RT",
            text: "Westminster Bridge Road, London SE1 9RT"
            },
            {
            value: "Evelina London Children's Hospital, Westminster Bridge Road, London SE1 9RT",
            text: "Evelina London Children's Hospital, Westminster Bridge Road, London SE1 9RT"
            }
          ]
        }) }}
        
      </div> 


        {{ govukButton({
          text: "Confirm address"
        }) }}

      <p class="govuk-body govuk-!-margin-bottom-6"><a href="/ucd-register/hospital-dates/5-17-hospital-address-manually" class="govuk-link">Enter address manually</a></p>

      </form>

    </div>
  </div>

{% endblock %}
