{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter a date, a month, and a year using only numbers",
                href: "#nationality"
              }
            ]
          }) }}

          <h1 class="govuk-heading-l">What date did you enter the hospice?</h1>

          {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "hospice-date",
          hint: {
            text: "Enter a date, like  27 3 2007"
          },
          errorMessage: {
            text: "Enter a date, a month, and a year using only numbers"
          }
        }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "hospice-date",
          fieldset: {
            legend: {
              isPageHeading: true
            }
          },
          items: [
            {
              value: "unknown",
              text: "Applicant does not know the date"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
          }) }}
          

        </div>
      </form>
    </div>
  </div>

{% endblock %}