{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
{# extends "govuk-prototype-kit/layouts/govuk-branded.njk" #}

{% extends "layout-nn.html" %}

{% block header %}
  <header class="govuk-header" role="banner" data-module="govuk-header" style="margin-top: 0;">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/" class="govuk-header__link govuk-header__service-name">
        {{ serviceName }}
      </a>
    </div>
  </div>
  </header>
{% endblock %}



{% block footer %}

<div>

<footer class="govuk-footer">
  <div class="govuk-width-container">
  <h2 class="govuk-visually-hidden">About this website</h2>
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="manage-prototype/clear-data">Clear data</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/research">Research</a>
      </li>
    </ul>
  </div>
</footer>


{% endblock %}
